%html
  %head
    %title Zehnk
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="stylesheet" href="bootstrap/css/style.css" media="screen")
    %link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen")
  %body
    .container

      .row.logo
        %img(src="images/logo.png")
      .row
        .span8.offset2.center.well.dice_box
          ==#{display_table_dice_set(game.table_set)}
      .row
        .span8.offset2.center
          .btn-group
            %input{:type=>"button", :class=>"btn btn-warning", :value=>"Roll", :onclick=>"window.location.reload()"}
            %input{:type=>"button", :class=>"btn btn-success", :value=>"Take"}
            %input{:type=>"button", :class=>"btn btn-danger", :value=>"Reset"}

      .row
        .span8.offset2.center.well.margin20.dice_box
          ==#{display_pocket_dice_set(game.pocket_set)}