%form{ :action => "/take", :method => "post"}
  .row
    .span8.offset2.center.well.dice_box
      ==#{display_table_dice_set(game.table_set)}
  .row
    .span8.offset2.center
      .btn-group
        %a{:href=>"/roll", :class=>"btn btn-warning"}
          %span{:class=>"icon-random"}
          Roll
        %button{:type=>"submit", :class=>"btn btn-success"}
          %span{:class=>"icon-download"}
          Take
        %a{:href=>"/reset", :class=>"btn btn-danger"}
          %span{:class=>"icon-refresh"}
          Reset
.row
  .span8.offset2.center.well.margin20.dice_box
    ==#{display_pocket_dice_set(game.pocket_set)}
    .margin20
      ==#{display_pocket_score(game)}

.row
  .span8.offset2.center
    %a{:href=>"/bank", :class=>"btn btn-success"}
      %span{:class=>"icon-briefcase"}
      Bank