.container
  .row.team_avatar
    .span8.offset2
      %ul{:class=>'thumbnails'}
        %li{:class=>'span4'}
          .thumbnail
            %a{:href=>'http://github.com/jm13', :target => 'blank'}
              %img(src="images/jackie.png")
              %h4{:class=>'center'}
                Jackie Mutua
        %li{:class=>'span4'}
          .thumbnail
            %a{:href=>'http://github.com/kitaka', :target => 'blank'}
              %img(src="images/felix.png")
              %h4{:class=>'center'}
                Felix Kitaka
        %li{:class=>'span4'}
          .thumbnail
            %a{:href=>'http://github.com/mukiza', :target => 'blank'}
              %img(src="images/andrew.png")
              %h4{:class=>'center'}
                Andrew Mukiza
        %li{:class=>'span4'}
          .thumbnail
            %a{:href=>'http://github.com/MFait', :target => 'blank'}
              %img(src="images/michael.png")
              %h4{:class=>'center'}
                Michael Fait


